<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>Label</key>
        <string>org.fusioninventory.agent</string>

        <key>ProgramArguments</key>
        <array>
                <string>/opt/fusioninventory-agent/bin/fusioninventory-agent</string>
                <string>-s</string>
                <string>https://netbox.example.com/plugins/fusion-inventory/</string>
                <string>--no-ssl-check</string>
        </array>

        <key>UserName</key>
        <string>root</string>

	<key>StartInterval</key>
	<integer>86400</integer>

        <key>KeepAlive</key>
        <false/>

        <key>RunAtLoad</key>
        <true/>

        <key>StandardErrorPath</key>
        <string>/tmp/org.fusioninventry.agent.err</string>

        <key>StandardOutPath</key>
        <string>/tmp/org.fusioninventory.agent.out</string>

</dict>
</plist>
